<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rutgers.cs.rahul.helloworld" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true"></uses-feature>

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RunActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!-- <activity android:name=".SearchActivity" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- </activity> -->
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".PersonalInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RunResult"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChallengeActivity"
            android:label="Beat.My.Run"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StudentDetail"
            android:label="Beat.My.Run"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Winner"
            android:label="Winner"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StatActivity"
            android:label="Beat.My.Run"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StatGraphActivity"
            android:label="Beat.My.Run"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ChallengeNewSend"
            android:label="@string/title_activity_challenge_new_send"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewAllChallenges"
            android:label="@string/title_activity_view_all_challenges"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewChallenge"
            android:label="@string/title_activity_view_challenge"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".ViewSentChallenges"
            android:label="@string/title_activity_view_sent_challenges"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewSingleSentChallenge"
            android:label="@string/title_activity_view_single_sent_challenge"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Leaderboards"
            android:label="@string/title_activity_leaderboards" >
        </activity>

        <activity android:name="org.achartengine.GraphicalActivity" />


        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Datepicker_days"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Chart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Monthpicker_month"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Chart_month"
            android:screenOrientation="portrait" >
        </activity>


    </application>

</manifest>
